body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #a1acb1;
    animation-name: example;
    animation-duration: 7s;
}


#grad {
    background-image: radial-gradient(red 5%, green 15%, blue 60%);
  }


@keyframes example {
    0%   {background-color:rgb(243, 183, 183); left:0px; top:0px;}
    25%  {background-color:rgb(226, 226, 179); left:200px; top:0px;}
    50%  {background-color:rgb(188, 188, 225); left:200px; top:200px;}
    75%  {background-color:rgb(204, 235, 204); left:0px; top:200px;}
    100% {background-color:rgb(234, 208, 208); left:0px; top:0px;}
  }


hr {
    width: 500px;
}

#title {
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 2px;
    color: #122021;
    
}

#board {
    width: 350px;
    height: 420px;
    margin: 0 auto;
    margin-top: 3px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 20px;
    background-color: #b2ced0;
}

.tile {
    /* Box */
    border: 2px solid rgb(36, 26, 26);
    border-radius: 30px;
    width: 60px;
    height: 60px;
    margin: 2.5px;

    /* Text */
    color: rgb(224, 91, 91);
    font-size: 36px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.correct {
    background-color: #6AAA64;
    color: white;
    border-color: white;
}

.present {
    background-color: #C9B458;
    color: white;
    border-color: white;
}

.absent {
    background-color: #787C7E;
    color: white;
    border-color:white;
}


.keyboard-row {
    width: 400px;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.key-tile {
    width: 36px;
    height: 40px;
    margin: 1px;
    border: 1px solid lightgray;

    /* Text */
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.enter-key-tile {
    width: 76px;
    height: 40px;
    margin: 1px;
    border: 1px solid lightgray;

    /* Text */
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}